div{
	float:left;
	margin-right:5px;
  }

/*
FONTS
*/


@font-face {
    font-family: Helvetica, Arial, sans-serif;
    src: url("ressources/fonts/Helvetica.ttf");
}

@font-face {
    font-family: Helvetica-Light, Arial, sans-serif;
    src: url("ressources/fonts/helvetica-light.ttf");
	font-style: light;
}


/*================================================GLOBAL================================================*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border-collapse: collapse;
    transition: all 0.1s;
    transition: background-position 0s;
    font-family: creato, Quicksand, Arial, sans-serif;
}

h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size : 80px;
    text-align: center;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px black;
    color : #0775D6;
    display: inline-block;
    font-size: 37px;
}

/*================================================Title header================================================*/

header{
    /*background-image: url("ressources/images/video.mp4");*/
    background-size: auto 100%;
    text-align:center;
    /*height: 100vh;*/
	
}

header img{
    position: relative;
    top: -150px;
    width: 90vw;
    max-width: 750px;
	height: auto;	

}

.mainTitle{
    font-family : Arial, Helvetica, sans-serif;
    font-size : 80px;
    color : white;
	text-shadow: 3px 3px black;
    position: relative;
    top: 30px;
	bottom: 30px;
	padding: auto;
    z-index: auto;
	height: auto;	
	padding: 1em;

}

#BackgroundVideo {
    width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}


.subMainTitle{
    position: relative;
    top: -555px;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-shadow: 3px 3px black;
    text-align: center;
}


/*================================================MENU================================================*/

/* Style the navigation menu */
.navbar {
	width: 100%;
	background-color: white;
	overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
	float: left;
	padding: 12px;
	color: #22577E;
	text-decoration: none;
	font-style: oblique;
	font-size: 17px;
	width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
	text-align: center; 
	vertical-align: middle ;
	height: 63.6px;
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
	background-color: #000;
	height: 63.6px;

  }
  
  /* Style the current/active link */
  .navbar a.active {
	background-color: #22577E;
  }
  
  /* Responsiveness */
  @media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	  width: 100%;
	  text-align: left; /* If you want the text to be left-aligned on small screens */
	}
  }




section div{
    padding-bottom: 30px;
}


/*================================================TEXTE================================================*/

.text_area {
    background-color: white;
	max-width: auto;
	margin-left: auto;
	margin-right: auto;
	position: sticky;
	padding-left: 5%;
	padding-right: 5%;

}


.text_area a, .text_area a:visited {
    color : #22577E;
    font-weight: bold;
    text-decoration: none;
}

.text_area h2{
	color : #22577E;
	text-shadow: 3px 3px black;
    font-size : 2.3vw;
    text-align : left;
    text-shadow : 0px 0px;
    font-family: Helvetica, Arial, sans-serif;
}

.text_area h3{
    font-size : 1.7vw;
    text-align : left;
    color : darkgreen;
    font-weight : bold;
    font-family: Helvetica, Arial, sans-serif;
}

.text_box{
	font-family: Helvetica, Arial, sans-serif;
    width :80vw;
    padding : 1vw;
}

.text_box p {
	color: black;
    padding : 1vw;
    padding-bottom: 2vw;
    padding-top: 1.5vw;
}


