html {
    scroll-behavior: smooth;
  }

div{
	float:left;
	margin-right:5px;
    padding: 5pt;
  }

/*
FONTS
*/


@font-face {
    font-family: Helvetica, Arial, sans-serif;
    src: url("blob/main/ressources/fonts/Helvetica.ttf");
}

@font-face {
    font-family: Helvetica-Light, Arial, sans-serif;
    src: url("blob/main/ressources/fonts/helvetica-light.ttf");
	font-style: light;
}


/*================================================GLOBAL================================================*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border-collapse: collapse;
    transition: all 0.1s;
    transition: background-position 0s;
    font-family: creato, Quicksand, Arial, sans-serif;
}

h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size : 80px;
    text-align: center;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px black;
    color : #0775D6;
    display: inline-block;
    font-size: 37px;
}


/*================================================Title header================================================*/

header{
    /*background-image: url("blob/main/ressources/images/video.mp4");*/
    background-size: auto 100%;
    text-align:center;
    /*height: 100vh;*/
	
}

header img{
    position: relative;
    top: -150px;
    width: 90vw;
    max-width: 750px;
	height: auto;	

}

.mainTitle{
    font-family : Arial, Helvetica, sans-serif;
    font-size : 80px;
    color : white;
	text-shadow: 3px 3px black;
    position: relative;
    top: 30px;
	bottom: 30px;
	padding: auto;
    z-index: auto;
	height: auto;	
	padding: 1em;

}

#BackgroundVideo {
    width: 100%;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}


.subMainTitle{
    position: relative;
    top: -555px;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color : white;
    text-shadow: 3px 3px black;
    text-align: center;
}


/*================================================MENU================================================*/

/* Style the navigation menu */
.navbar {
	width: 100%;
	background-color: white;
    /* background-image: url("ressources/images/wallpaper.png"); */

	overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
	float: left;
	padding: 12px;
	color: #22577E;
	text-decoration: none;
	font-style: bold;
	font-size: 17px;
	width: 16.66%; /* Adjust manually to number of categories.. */
	text-align: center; 
	vertical-align: middle ;
	/*height: 63.6px;*/
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
	background-color: #9da6e6;
    color: aliceblue;
	/*height: 63.6px;*/

  }
  
  /* Style the current/active link */
  .navbar a.active {
	background-color: #22577E;
  }
  
  /* Responsiveness */
  @media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	  width: 100%;
	  text-align: left; /* If you want the text to be left-aligned on small screens */
	}
  }




section div{
    padding-bottom: 30px;
}


/*================================================TEXTE================================================*/

.text_area {
    background-color: white;
    /* background-image: url("ressources/images/wallpaper.png"); */
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: sticky;
	padding-left: 10%;
	padding-right: 10%;

}


.text_area a, .text_area a:visited {
    color : #22577E;
    font-weight: bold;
    text-decoration: none;
}

.text_area h2{
	color : #22577E;
	text-shadow: 3px 3px black;
    font-size : 2.3vw;
    text-align : left;
    text-shadow : 0px 0px;
    font-family: 'Poppins', sans-serif;
}

.text_area h3{
    font-size : 1.5vw;
    text-align : left;
    align-self: left;
    padding-left: 3pt;
    color : rgb(34, 46, 83);
    font-weight : bold;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}


.text_box{
    font-family: 'Poppins', sans-serif;
    width :80vw;
    padding : 1vw;
    align-self: left;
    font-size: 1.0vw;
}

.text_box_attention{
	font-family: Helvetica, Arial, sans-serif;
    color : #f6641f;
    font-size : 2.5vw;
    width :85vw;
    padding : 2vw;
}

.text_box p {
	color: black;
    padding : 1vw;
    font-family: 'Poppins', sans-serif;
}

.pourtour img{
    width : 35vw;
    margin : 2vw;
}

.pourtour {
    /* La transition s'applique Ã  la fois sur la largeur et la hauteur, avec une durÃ©e d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
    
.pourtour:hover {
    /* L'image est grossie de 18% */
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}



/*================================================BUTTON================================================*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #9da6e6; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: rgb(162, 200, 235); /* Add a dark-grey background on hover */
  }


/*================================================VISUALISATION================================================*/
.visualisation{
    background-color: white;
    align-self: center;
    align-items: center;
    padding-left: -1cm;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 45%;
  }

  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

/*=======================================MAP====================================================*/
svg {
	width: 100%;
	height: auto;

    width: 70vw;
	height: 70vh;

	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	/*background: rgb(40, 40, 40);*/
	background: #e0f6ff;

	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;
}
